@page "/"
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Hello!</h1>

Welcome to eshopping application.

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}