@attribute [Route(PagePathUrl)]
@attribute [AllowAnonymous]

<h1>Please login</h1>
<form action="user/login" method="post">
    <div class="productdata" style="display:table">
        <div class="productrowdata">
            <label>name</label>
            <input type="text" name="name" />
        </div>
        <div class="productrowdata">
            <label>password</label>
            <input type=@passwordType name="password" />
            <InputCheckbox @bind-Value=showPassword />
        </div>
        <button type="submit" >Login</button>
    </div>
</form>
<button @onclick="@(async _ => Navigation.NavigateTo("createuser"))">Create new user</button>
