@attribute [Route(PagePathUrl)]
@inject OpenTelemetry.Trace.Tracer Tracer;

<h3>Logout</h3>

@code {
    public const string PagePathUrl = "/logout";

    protected override async Task OnInitializedAsync()
    {
        using var span = Tracer.StartActiveSpan($"{nameof(Logout)}_{nameof(OnInitializedAsync)}");
        await base.OnInitializedAsync();
    }
    protected override async Task OnParametersSetAsync()
    {
        using var span = Tracer.StartActiveSpan($"{nameof(Logout)}_{nameof(OnParametersSetAsync)}");
        await Task.CompletedTask;
    }
}
